<meta charset="UTF-8">


  <table id="chessboard" border="1" class="col-lg-5 board-container">
    <tr class="tablerow rank-1">
      <td id="26" class="selectable not-selected file-1">26</td>
      <td id="27" class="selectable not-selected file-2">27</td>
      <td id="28" class="selectable not-selected file-3">28</td>
      <td id="29" class="selectable not-selected file-4">29</td>
      <td id="30" class="selectable not-selected file-5">30</td>
      <td id="31" class="selectable not-selected file-6">31</td>
      <td id="32" class="selectable not-selected file-7">32</td>
      <td id="33" class="selectable not-selected file-8">33</td>
    </tr>
    <tr class="tablerow rank-2">
      <td id="38" class="selectable not-selected file-1">38</td>
      <td id="39" class="selectable not-selected file-2">39</td>
      <td id="40" class="selectable not-selected file-3">40</td>
      <td id="41" class="selectable not-selected file-4">41</td>
      <td id="42" class="selectable not-selected file-5">42</td>
      <td id="43" class="selectable not-selected file-6">43</td>
      <td id="44" class="selectable not-selected file-7">44</td>
      <td id="45" class="selectable not-selected file-8">45</td>
    </tr>
    <tr class="tablerow rank-3">
      <td id="50" class="selectable not-selected file-1">50</td>
      <td id="51" class="selectable not-selected file-2">51</td>
      <td id="52" class="selectable not-selected file-3">52</td>
      <td id="53" class="selectable not-selected file-4">53</td>
      <td id="54" class="selectable not-selected file-5">54</td>
      <td id="55" class="selectable not-selected file-6">55</td>
      <td id="56" class="selectable not-selected file-7">56</td>
      <td id="57" class="selectable not-selected file-8">57</td>
    </tr>
    <tr class="tablerow rank-4">
      <td id="62" class="selectable not-selected file-1">62</td>
      <td id="63" class="selectable not-selected file-2">63</td>
      <td id="64" class="selectable not-selected file-3">64</td>
      <td id="65" class="selectable not-selected file-4">65</td>
      <td id="66" class="selectable not-selected file-5">66</td>
      <td id="67" class="selectable not-selected file-6">67</td>
      <td id="68" class="selectable not-selected file-7">68</td>
      <td id="69" class="selectable not-selected file-8">69</td>
    </tr>
    <tr class="tablerow rank-5">
      <td id="74" class="selectable not-selected file-1">74</td>
      <td id="75" class="selectable not-selected file-2">75</td>
      <td id="76" class="selectable not-selected file-3">76</td>
      <td id="77" class="selectable not-selected file-4">77</td>
      <td id="78" class="selectable not-selected file-5">78</td>
      <td id="79" class="selectable not-selected file-6">79</td>
      <td id="80" class="selectable not-selected file-7">80</td>
      <td id="81" class="selectable not-selected file-8">81</td>
    </tr>
    <tr class="tablerow rank-6">
      <td id="86" class="selectable not-selected file-1">86</td>
      <td id="87" class="selectable not-selected file-2">87</td>
      <td id="88" class="selectable not-selected file-3">88</td>
      <td id="89" class="selectable not-selected file-4">89</td>
      <td id="90" class="selectable not-selected file-5">90</td>
      <td id="91" class="selectable not-selected file-6">91</td>
      <td id="92" class="selectable not-selected file-7">92</td>
      <td id="93" class="selectable not-selected file-8">93</td>
    </tr>
    <tr class="tablerow rank-7">
      <td id="98" class="selectable not-selected file-1">98</td>
      <td id="99" class="selectable not-selected file-2">99</td>
      <td id="100" class="selectable not-selected file-3">100</td>
      <td id="101" class="selectable not-selected file-4">101</td>
      <td id="102" class="selectable not-selected file-5">102</td>
      <td id="103" class="selectable not-selected file-6">103</td>
      <td id="104" class="selectable not-selected file-7">104</td>
      <td id="105" class="selectable not-selected file-8">105</td>
    </tr>
    <tr class="tablerow rank-8">
      <td id="110" class="selectable not-selected file-1">110</td>
      <td id="111" class="selectable not-selected file-2">111</td>
      <td id="112" class="selectable not-selected file-3">112</td>
      <td id="113" class="selectable not-selected file-4">113</td>
      <td id="114" class="selectable not-selected file-5">114</td>
      <td id="115" class="selectable not-selected file-6">115</td>
      <td id="116" class="selectable not-selected file-7">116</td>
      <td id="117" class="selectable not-selected file-8">117</td>
    </tr>
  </table>



