<meta charset="UTF-8">
<div id="home" class="tab-pane fade in active">
  <h3>Hello!!</h3>  
      
      	<div class="col-lg-12 level2">
        	<div class="btn-group level3">
        	  <input id="connect" type="button" value="Create" class="btn btn-primary hvr-grow">
       		 </div>
      	 	 <div class="btn-group level3">
       		   <input id="load" type="button" value="Load" class="btn btn-primary hvr-grow">
       		 </div>
        </div>
      
		<div class="col-lg-4 level4">
        	<div class="game_list1 level5" id="gamelist">

				<div class="hvr-reveal item not-selected" id="inner2">
  					<span class="item_class">Item 1</span>
				</div>

				<div class="hvr-reveal item not-selected" id="inner2">
  					<span class="item_class">Item 2</span>
				</div>

				<div class="hvr-reveal item not-selected" id="inner3">
  					<span class="item_class">Item 3</span>
				</div>

			</div>
        </div>
        <% include board %>    
</div>
