<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
  <script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<% include partials/navigation_bar %>

</body>
</html>